/**
 * @file
 * Navigation Styling
 */

#block-menu-menu-bottom-menu {
  margin-top: 20px;
}

ul.menu {
  list-style-type: none;
  padding-left: 0px;
  display: inline;
  margin: auto;
}

ul.menu li {
  display: inline;
  border-left: 1px solid #fff;
  padding-left: 5px;
  /*margin-left: 5px;*/
}

ul.menu li.first {
  border-left: 0px;
  padding-left: 0px;
}

/*
 * The active item in a Drupal menu
 */

li a.active {
  color: #f477aa;
}

/*
 * Navigation bar
 */

#navigation {
  /* overflow: hidden; */ /* Sometimes you want to prevent overlapping with main div. */
}

#navigation .block {
  margin-bottom: 0;
}

#navigation .block-menu .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation ul.menu { /* Menu block links */
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li,
#navigation ul.menu li { /* A simple method to get navigation links to appear in one line. */
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */

#main-menu {
  float: right;
}

#main-menu a {
  color: #000;
  font-size: 10pt;
  font-weight: 400;
}

#main-menu a.active {
  color: #f477aa;

#secondary-menu {
  float: right; /* LTR */
}

/*
 * Menu blocks
 */

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */

.block-menu-block {
}